@{
    ViewBag.Title = "Contact";
}

<div style=" width: 800px;
  margin: 0 auto; font-size:25px
            ">
    <h1>Home Team VS Avay Team</h1>
    <br>
    <p><b>Date:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;22 Mar 15</p>
    <p><b>Time:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;14:30</p>
    <p><b>location:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Beaton Park</p>
    <p><b>Division:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;22D</p>
    <br>
    <p><b>Referee:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Jack Smith</p>
    <p><b>Linesman 1:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;....</p>
    <p><b>Linesman 2:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;....</p>
</div>
