
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>match_page</title>
</head>
<body>
    <div>
        The match page 
    </div>
    <div>
        ID
        Time
        Date
        Location
        Age
        Grade
        Home Team, Away Team
        Referee/s
    </div>
</body>
</html>
