@{
    ViewBag.Title = "match_page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>match_page</title>
    <style>

    </style>
</head>
<body>
    <div id="match_detail">
        <div class="row">
            <div class="col-md-5">
                <h1>Match Detail</h1>
            </div>
          
            <div class="col-md-2">
                <a href="#" class="btn btn-success" style=" margin-top: 17%; ">Edit Match</a>
            </div>

            </div>
            </br>
            <div class="row">
                <div class="col-md-3">
                    <p style="font-size:160%"><span class="label label-info"><b>Home Team</b></span></p>
                    <p style="font-size:160%"><b><span class="label label-info"><b>Wollongong A</b></span></b></p>
                </div>
                <div class="col-md-2">
                    <p style="font-size:160%"><b>VS</b></p>

                </div>
                <div class="col-md-2">
                    <p style="font-size:160%"><span class="label label-warning"><b>Away Team</b></span></p>
                    <p style="font-size:160%"><span class="label label-warning"><b>SYD B</b></span></p>
                </div>
             

            </div>
        </div>
        <div>
            </br>

            <fieldset>

                <legend>Match detail</legend>

                <div>
                    <h5 style="display:inline">Match ID:</h5>
                    &nbsp;&nbsp;&nbsp;<span class="label label-info">4394914</span>
                </div>
                <div>
                    <h5 style="display:inline">Time:</h5>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="label label-info">09:30AM - 11:30AM</span>
                </div>
                <div>
                    <h5 style="display:inline">Date:</h5>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="label label-info">Feb/2/2016</span>
                </div>
                <div>
                    <h5 style="display:inline">Location:</h5>
                    &nbsp;&nbsp; <span class="label label-info">Wollongong Sports Center</span>
                </div>
                <div>
                    <h5 style="display:inline">Age group:</h5>
                    <span class="label label-info">18 years old</span>
                </div>
                <div>
                    <h5 style="display:inline">Grade:</h5>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="label label-danger">Level A</span>
                </div>
                <div>
                    <h5 style="display:inline">Referee/s:</h5>
                    &nbsp;
                    <span class="label label-primary">James bond(main)</span>
                    <span class="label label-default">Tony Stark</span>
                    <span class="label label-default"> Will Smith</span>

                </div>

            </fieldset>

</body>
</html>


