@{
    ViewBag.Title = "userlist";
}

<div>
    <br>
    <br>
</div>


@*<div class="btn-group">


    <div class="btn-group">
        <a href="#" class="btn btn-primary">Referee or Admine</a>
        <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
        </ul>
    </div>

    <div class="btn-group">
        <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            &nbsp;&nbsp;Name&nbsp;&nbsp;
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#">Dropdown link</a></li>
            <li><a href="#">Dropdown link</a></li>
            <li><a href="#">Dropdown link</a></li>
        </ul>

    </div>
    <div class="btn-group">
        <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            &nbsp;&nbsp;Email&nbsp;&nbsp;
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#">Dropdown link</a></li>
            <li><a href="#">Dropdown link</a></li>
            <li><a href="#">Dropdown link</a></li>
        </ul>

    </div>

    <div class="btn-group">
        <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            Qualifications
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#">Dropdown link</a></li>
            <li><a href="#">Dropdown link</a></li>
            <li><a href="#">Dropdown link</a></li>
        </ul>

    </div>
    <div class="btn-group">
        <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            Phone Number
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#">Dropdown link</a></li>
            <li><a href="#">Dropdown link</a></li>
            <li><a href="#">Dropdown link</a></li>
        </ul>

    </div>
    <div class="btn-group">
        <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            Gender
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#">Dropdown link</a></li>
            <li><a href="#">Dropdown link</a></li>
            <li><a href="#">Dropdown link</a></li>
        </ul>

    </div>



</div>*@

@*<a href="#" class="btn btn-success" style="margin-left:34%;">Add new user</a>*@
<div style="width: inherit; margin-bottom: 20px;">
    <h1>Jack Smith</h1>
    <span class="label label-success"><b>User ID:</b></span>

 

    <a href='@Url.Action("timetable", "User")' class="btn btn-success" style="float:right; margin-top: -3%;">My time table</a>
</div>
<ul class="nav nav-pills">
    <li class="active"><a href="#">Notification <span class="badge">1</span></a></li>

</ul>
<div class="jumbotron" style=" width:inherit;  height:170px">


    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                
                <th>ID#&nbsp;&nbsp;</th>
                <th>Date&nbsp;</th>
                <th>Division</th>
                <th>Time</th>
                <th>Location</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
                <td>
                <div class="btn-group">
                    <a href="#" class="btn btn-primary btn-xs">Accept</a>
                    <a href="#" class="btn btn-danger btn-xs">Deny</a>

</div></td>
                
            </tr>
            
        </tbody>
    </table>
</div>
<ul class="nav nav-pills">
    <li class="active"><a href="#">Upcoming Match<span class="badge">12</span></a></li>
</ul>
<div class="jumbotron" style=" overflow: scroll;width:inherit;  height:500px">


    <table class="table table-striped table-hover ">
        <thead>
            <tr>

                <th>ID#&nbsp;&nbsp;</th>
                <th>Date&nbsp;</th>
                <th>Division</th>
                <th>Time</th>
                <th>Location</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>2</td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>

            </tr>
            <tr>
                <td>3</td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>

            </tr>
            <tr>
                <td>4</td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>

            </tr>
            <tr>
                <td>5</td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>

            </tr>
            <tr>
                <td>6</td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>

            </tr>
            <tr>
                <td>7</td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>

            </tr>
            <tr>
                <td>7</td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>

            </tr>
            <tr>
                <td>7</td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>

            <tr>
                <td>7</td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>

            </tr>
            <tr>
                <td>7</td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>

            </tr>
            </tr>
        </tbody>
    </table>
</div>


